@font-face {
	font-family: CaveatBold;
	src: url('/assets/fonts/Caveat-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Caveat;
	src: url('/assets/fonts/Caveat-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: K2DLight;
	src: url('/assets/fonts/K2D-Light.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: K2DSemiBold;
	src: url('/assets/fonts/K2D-SemiBold.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: K2DThin;
	src: url('/assets/fonts/K2D-Thin.ttf');
	font-weight: normal;
	font-style: normal;
}